*{
    margin:0;
    padding:0;
}


body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #5d267b;
    color: #F6F6F6;
}

.apresentacao{
    display: flex;
    margin:10% 15%;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}

.apresentacao_conteudo{
    width: auto;    /* height: 572px;*/
    text-align: justify;
    flex-direction: column;
    gap: 40px;
    margin-right: 10px;
}

.apresentacao_conteudo_titulo{
    font-size: 30px;
}

.apresentacao_conteudo_texto{
    font-size: 20px;
}

.botoes{
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}


.botoes_1{
   /* background-color: #F7E911;*/
    color: #F6F6F6;
    border: 3px solid #F7E911;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0;
    text-decoration: none;
}

.imagemPrincipal{
    width:35%;
    height:/*300px*/ 25%;
    margin-left: 40px;
}


.nomeIgreja{
    color: #28E83B;
}

.livros-container{
    box-sizing: border-box;
    display: flex; /* Exibe os livros lado a lado */
    flex-wrap: wrap; /* Faz a quebra de linha quando necessário */
    justify-content: center; /* Centraliza os livros horizontalmente */
    align-items: center;
    gap: 20px; /* Espaçamento entre os livros */
    margin: 0 auto; /* Centraliza o container de livros */
    max-width: 80%; /* Define a largura máxima para os livros */
}

.livro {
    text-align: center; /* Centraliza o conteúdo */
    flex-basis: calc(25% - 20px); /* Define a largura de cada livro com margens */
    margin: 10px; /* Espaçamento entre os livros */
}

.livro img {
    width: 100%; /* Defina o tamanho da imagem como desejado */
    height: auto;
}

.nome-livro {
    font-size: 14px; /* Define o tamanho da fonte do nome do livro */
    margin-top: 5px; /* Adiciona um espaço entre a imagem e o nome do livro */
    color: #F6F6F6;
}


.quantidade{
    gap: 15px;
    color: #000000;
    border: 3px solid #F7E911;
    display: flex;    /*border-radius: 10px;*/
    text-align: center;
    font-size: 20px;    /*font-weight: 600;*/
    padding: 10px 0;
    text-decoration: none;   
}

.rodape{
    padding: 12px;
    color:#F6F6F6;
    background-color: #28E83B;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 600px) /*(min-width: 480px ) and (max-width: 800px)*/ {  
    .livros-container {
        justify-content: space-between; /* Alinha os livros lado a lado */
        justify-content: center; /* Centraliza os livros horizontalmente */
        align-items: center;
    }
    .rodape{
        justify-content: center;
    }
    .apresentacao{
        padding: 5%;
    }
    .apresentacao_conteudo{
        width: auto;
    }
    .imagemPrincipal{
        padding: 5%;
        width: 35%;
        height: 25%;
    }
}